<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'importer', :plugin => 'redmine_importer' %>
<% end %>

<h2><%= l(:label_match_columns) %></h2>
<!--
<fieldset class="box"><legend><%= l(:label_load_rules) %></legend>
	<% @headers.each do |column| %>
		 
	<% end %>
</fieldset>
-->
<% form_tag({:action => 'result'}, {:multipart => true}) do %>
	<%= hidden_field_tag 'project_id', @project.id %>
	<fieldset class="box"><legend><%= l(:label_match_select) %></legend>
	<% @headers.each do |column| %>
		 <label class="tabular"><%= column %>:
		 <%= select_tag "fields_map[#{column}]", "<option value=\"\">#{l(:option_ignore)}</option>" + options_for_select( @attrs ) %></label>
	<% end %>
	</fieldset>
	
	<fieldset class="box"><legend><%= l(:label_import_rule) %></legend>
		<label><%= l(:label_default_tracker) %>
		<%= select_tag "default_tracker", options_from_collection_for_select(@project.trackers, 'id', 'name') %></label><br/>
		
		<label><%= check_box_tag "update_issue", true, false %> <%= l(:label_update_issue) %>
		</label><br/>
		<%= observe_field("update_issue", :function => <<END_OF_STRING
document.getElementById("unique_field").disabled = !element.checked;
document.getElementById("journal_field").disabled = !element.checked;
document.getElementById("update_other_project").disabled = !element.checked;
document.getElementById("ignore_non_exist").disabled = !element.checked;
END_OF_STRING
)
		%>
		
		&nbsp;&nbsp;&nbsp;&nbsp;<label><%= l(:label_unique_field) %>
		<%= select_tag "unique_field", options_for_select(@headers), {:disabled => true} %></label><br/>
		
		&nbsp;&nbsp;&nbsp;&nbsp;<label><%= l(:label_journal_field) %>
		<%= select_tag "journal_field", "<option value=\"\">#{l(:option_ignore)}</option>" + options_for_select(@headers), {:disabled => true} %></label><br/>
		
		&nbsp;&nbsp;&nbsp;&nbsp;<label><%= check_box_tag "update_other_project", true, false, {:disabled => true} %>
		<%= l(:label_update_other_project) %></label><br/>

		&nbsp;&nbsp;&nbsp;&nbsp;<label><%= check_box_tag "ignore_non_exist", true, false, {:disabled => true} %>
		<%= l(:label_ignore_non_exist) %></label><br/>
				
	</fieldset>

	<%= submit_tag l(:button_submit) %>
<!--	<%= submit_tag l(:button_save_rules_and_submit) %>
	<%= text_field_tag('rule_name', l(:label_rule_name), {:size => 32, :maxlength => 32, :onfocus => "if(this.value == '#{l(:label_rule_name)}') {this.value = ''}"}) %>
	--><br/>
<% end %>

<hr/>

<%= l(:label_toplines, @original_filename) %>
<table class="list">
    <thead><tr>
        <% @headers.each do |column| %>
          <th><%= column %></th>
        <% end %>
	</tr></thead>
	<tbody>
	<% @samples.each do |issue| -%>
	<tr class="<%= cycle("odd", "even") %>">
	    <% issue.each do |column| %><%= content_tag 'td', column[1] %><% end %>
	</tr>
	<% end %>
	<tr class="<%= cycle("odd", "even") %>">
	    <% @headers.each do |column| %><td>...</td><% end %>
	</tr>
	</tbody>
</table>