<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'importer', :plugin => 'redmine_importer' %>
<% end %>

<h2><%= l(:label_import_result) %></h2>
<p><%= l(:label_result_notice, @handle_count, @handle_count - @failed_count) %></p>
<p><%= l(:label_result_projects) %><br/>
<% @affect_projects_issues.each do |project, count|%>
<label class="tabular2"><%= project %>:</label><label class="tabular2"><%= l(:label_result_issues, count) %></label><br/>
<% end %></p>
<hr/>

<% if @failed_count > 0 %>
<%= l(:label_result_failed, @failed_count) %>
<table class="list">
    <thead><tr>
    	<th>#</th>
        <% @headers.each do |column| %>
          <th><%= column %></th>
        <% end %>
	</tr></thead>
	<tbody>
	<% @failed_issues.each do |id, issue| -%>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= id %></td>
	    <% issue.each do |column| %><%= content_tag 'td', column[1] %><% end %>
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>
